.main td {
  min-width: 3rem;
  height: 2rem;
}
.main th {
  min-width: 13rem;
  text-align: left;
  margin: 5px;
  white-space: nowrap;
  user-select: none;
  border: none;
  display: flex;
  justify-content: space-between;
  div {
    border: none;
    cursor: pointer;
  }

  span {
    margin-left: 10px;
    border: none;
    img {
      border: none;
      cursor: pointer;
      width: 1rem;
    }
  }
}
.main input {
  border: none;
  width: 100%;
  line-height: 30px;
  height: 100%;
  text-align: center;
}
.main td {
  text-align: center;
}
